@import url(/style/reset.css);
@import url(/style/variables.css);

body {
    background: var(--clr-primary-100);
    color: var(--clr-neutral-700);
    font-family: var(--ff-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    container: card / inline-size;
}

.product-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 18rem, 1fr));
    max-width: 37.5rem;
    margin-inline: 1rem;
    background: var(--clr-neutral-100);
    border-radius: .625rem;
    overflow: hidden;
}

img {
    height: 100%;
}

.product-card__content {
    padding: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
}

.product-card__category {
    font-size: var(--fs-100);
    letter-spacing: .3125rem;
    text-transform: uppercase;
}

.product-card__heading {
    font-family: var(--ff-secondary);
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
    line-height: 2rem;
    color: var(--clr-neutral-900);
    margin-block-start: clamp(0.75rem, 0.5739rem + 0.7512vw, 1.25rem);
}

.product-card__description {
    margin-block-start: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
    font-size: var(--fs-200);
    line-height: 1.4375rem;
}

.product-card__price-wrapper {
    display: flex;
    align-items: center;
    gap: 1.1875rem;
    margin-block-start: clamp(1.5rem, 1.39rem + 0.4695vw, 1.8125rem);
}

.product-card__price {
    color: var(--clr-primary-500);
    font-family: var(--ff-secondary);
    font-size: var(--fs-700);
}

.product-card__price--original {
    font-size: 13px;
    font-family: var(--ff-primary);
    color: var(--clr-neutral-700);
    text-decoration: line-through;
}

.product-card__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    width: 100%;
    margin-block-start: clamp(1.25rem, 1.0299rem + 0.939vw, 1.875rem);
    padding: 1em 2em;
    background: var(--clr-primary-500);
    color: var(--clr-neutral-100);
    font-size: var(--fs-200);
    font-weight: var(--fw-700);
    text-decoration: none;
    border-radius: .5rem;
    transition: all .2s ease;

    &:hover {
        background: var(--clr-primary-900);
    }

    &:focus-within {
        outline: 2px solid var(--clr-primary-500);
        outline-offset: .5rem;
    }
}

.attribution {
    font-size: clamp(0.6875rem, 0.6215rem + 0.2817vw, 0.875rem);
    text-align: center;
    margin-block-start: 1rem;
}

.attribution a {
    color: var(--clr-primary-500);
    font-weight: var(--fw-700);
    transition: all .2s ease;
    text-decoration-thickness: .1rem;
    text-underline-offset: .2rem;

    &:hover {
        color: var(--clr-primary-900);
    }

    &:focus-within {
        outline: 2px solid var(--clr-primary-500);
        outline-offset: .25rem;
    }
}

@container card (inline-size > 47em) {
    .product-card {
        margin-inline: auto;
    }
}